<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <h1>Utilities Page, Not For Production Use</h1>
        


        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script type="text/javascript" src="/javascripts/utlities.script.js"></script>
    </body>
</html>