<!doctype html>
<html lang="en">
	<head>
		<% include partials/templates/head_tags.ejs %>
		<link rel="stylesheet" href="/stylesheets/about.min.css">
		<link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
	</head>

	<body>
		<!-- BASIC NAVBAR TEMPLATE -->
		<% include partials/templates/navbar_basic.ejs %>
	
		<div id="background_image_container">
		<!--CSS INSERTS BACKGROUND HERE-->
		</div>

		<div id="absolute_content">

			<div class='container-fluid'>
				<h1 id="about_header" class="text-center mb-3 mt-3">Welcome, Music Fan.</h1>

				<h4 class="text-secondary mb-0 mt-4 about_subheader">Let's start with this: we <strong class="text-danger">LOVE</strong> music.</h4>
				
				<p>In fact, just like you, we can go into endless detail describing what we enjoy about our favorite records. As streaming has become a larger part of the music industry, we started to notice it was becoming harder and harder to keep track of all the great music in our libraries. We also noticed we were missing out on opportunities to share records we liked with our friends.</p>

				<h4 class="text-secondary mb-0 mt-4 about_subheader">Our solution?</h4>
				<p>We built Album Tags<small>&trade;</small>, an app where you can <a href="" data-toggle="modal" data-target="#searchModal">search</a> for music and write custom tags describing exactly what you love about it. You can then use these tags to find and keep track of even more awesome music! Words can't do your feelings justice? No problem! Just manually connect one album to another so you can remember how they are related later. You can even create and share lists of albums with your friends, whether they use the site or not!</p>
				
				<h4 class="text-secondary mb-0 mt-4 about_subheader">How Do I Start?</h4>
				<p>Getting started is easy! Watch a couple of the <a href="#features">feature walkthroughs</a> below to see Album Tags<small>&trade;</small> in action, or try <a href="" data-toggle="modal" data-target="#searchModal">searching</a> for some music and check out our <a href="/josh">favorite albums</a> of <%= thisYear %> to see how we use the app. Finally, sign in with your google account so you can start saving your own tags, connections, and lists!</p>
			</div>
		
			<div class='container-fluid'>
				<h4 id="features" class="text-secondary mb-2 mt-4 about_subheader">Feature Walkthroughs:</h4>
			</div>

			<div class='container-fluid' id="accordion">
				<!-- ===== Modal 1 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalOne">
					<img src="/images/play_button_empty_white.png" id="modal_one_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Login, Search for Music, and Add an Album to Your Favorites" data-trigger="hover"><br/>Start Here
				</button>

				<div class="modal fade" id="modalOne" tabindex="-1" role="dialog" aria-labelledby="modalOneCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0 mt-0" id="modalOneCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Search for an album</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body modal-body-custom">
								<!-- to autoplay: autoplay=1& -->
								<div class="vimeo-video-div" style="padding-bottom:73%;"><iframe src="https://player.vimeo.com/video/317379587?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
							</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>

				<!-- ===== Modal 2 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalTwo">
					<img src="/images/play_button_empty_white.png" id="modal_two_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Add your own tags" data-trigger="hover"><br/>Custom Tags
				</button>

				<div class="modal fade" id="modalTwo" tabindex="-1" role="dialog" aria-labelledby="modalTwoCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0" id="modalTwoCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Add a custom tag</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body modal-body-custom">
								<!-- to autoplay: autoplay=1& -->
								<div class="vimeo-video-div" style="padding-bottom:72%;"><iframe src="https://player.vimeo.com/video/314152346?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
							</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>

					<!-- ===== Modal 3 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalThree">
					<img src="/images/play_button_empty_white.png" id="modal_three_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Add your own connections" data-trigger="hover"><br/>Connections
				</button>

				<div class="modal fade" id="modalThree" tabindex="-1" role="dialog" aria-labelledby="modalThreeCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0" id="modalThreeCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Add an album connection</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body modal-body-custom">
								<!-- to autoplay: autoplay=1& -->
								<div class="vimeo-video-div" style="padding-bottom:73%;"><iframe src="https://player.vimeo.com/video/317379592?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
								</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>

				<!-- ===== Modal 4 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalFour">
					<img src="/images/play_button_empty_white.png" id="modal_four_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Create new lists" data-trigger="hover"><br/>Create a List
				</button>

				<div class="modal fade" id="modalFour" tabindex="-1" role="dialog" aria-labelledby="modalFourCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0" id="modalFourCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Add an album to my favorites and create a new list</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body modal-body-custom">
									<!-- to autoplay: autoplay=1& -->
									<div class="vimeo-video-div" style="padding-bottom:72%;"><iframe src="https://player.vimeo.com/video/314152332?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
								</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>
				<!-- ==== End Modal 4 ---- -->

				<!-- ===== Modal 5 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalFive">
					<img src="/images/play_button_empty_white.png" id="modal_five_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Add an album to a list" data-trigger="hover"><br/>Add to a List
				</button>

				<div class="modal fade" id="modalFive" tabindex="-1" role="dialog" aria-labelledby="modalFiveCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0" id="modalFiveCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Add an album to an existing list</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body modal-body-custom">
									<div class="vimeo-video-div" style="padding-bottom:70%;"><iframe src="https://player.vimeo.com/video/317382090?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
								</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>
				<!-- ==== End Modal 5 ---- -->		

				<!-- ===== Modal 6 ==== -->
				<button type="button" class="btn btn-primary feature_button" data-toggle="modal" data-target="#modalSix">
					<img src="/images/play_button_empty_white.png" id="modal_six_button" class="feature_button_icon" data-toggle="tooltip" data-placement="bottom" title="Share your favorites" data-trigger="hover"><br/>My Favorites
				</button>

				<div class="modal fade" id="modalSix" tabindex="-1" role="dialog" aria-labelledby="modalSixCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-custom">
								<h5 class="modal-title modal-title-custom mb-0" id="modalSixCenterTitle">Feature Walkthrough:<br/><small class="text-secondary">Add albums to my favorites, then share my favorites</small></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body modal-body-custom">
									<div class="vimeo-video-div" style="padding-bottom:70%;"><iframe src="https://player.vimeo.com/video/317382083?loop=1&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
								</div>
							<div class="modal-footer modal-footer-custom">
								<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
								<a href="" class="btn btn-sm btn-primary text-white open-search-modal-button">Start Search</a>
							</div>
						</div>
					</div>
				</div>
				<!-- ==== End Modal 6 ---- -->					

			</div> <!-- end modals container -->
		</div> <!-- end absolute content container -->	     
		
		<!-- ====== START SEARCH MODAL ====== -->
		<% include partials/content/modal/search_modal.ejs %>
		<!-- ====== END SEARCH MODAL ====== -->   

		<!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
		<% include partials/templates/footer.ejs %>

		<!-- custom script to enable tool tabs on non-touch screens -->
		<script>
			let isTouchDevice = false;
			$(function () {
				setTimeout(function(){ 
					if ("ontouchstart" in document.documentElement) {
						isTouchDevice = true;
					}
					if(isTouchDevice == false) {
						$('[data-toggle="tooltip"]').tooltip();
					}
				}, 1000);
			});

			$('.open-search-modal-button').click(function(event) {
				event.preventDefault();
				$('#modalOne').modal('hide');
				$('#modalTwo').modal('hide');
				$('#modalThree').modal('hide');
				$('#modalFour').modal('hide');
				$('#modalFive').modal('hide');
				$('#modalSix').modal('hide');
				$('#searchModal').modal('show');
			})
		</script>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script src="/javascripts/search_modal.script.min.js"></script>
	</body>
</html>
