<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/albumdetails.min.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- START PAGE CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="albumdetails_details">
                        <h1 class="albumdetails_artist"></h1> 
                        <span class="albumdetails_album"></span>   
                    </div>     
                </div>    
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="albumdetails_details">
                        <img class="img-fluid albumdetails_cover" onclick="scrollDown()" src="" alt="">
                    </div>
                </div>
                <div class="col">
                    <!-- <div class="card details_card"> -->
                        <!-- <h6 class="card-header">Details</h6> -->
                        <div class="card-body details_body">
                            <span class="card-text"><strong onclick="toggleTracksAndArrows('song_names', 'tracks_up_arrow', 'tracks_down_arrow')">Tracks:<img  id="tracks_down_arrow" class="tracks_arrows" src="/images/down_arrow.png"><img  id="tracks_up_arrow" class="tracks_arrows" src="/images/up_arrow.png"></strong></span> <br/>
                            <ol id="song_names" class="card-text text-secondary song_names"></ol> <br id="song_br"/>
                            <span class="card-text"><strong>Record Label: </strong><span class="albumdetails_label"></span></span>
                            <span class="card-text"><strong>Released: </strong><span class="albumdetails_release"></span></span>
                        </div>
                    <!-- </div> -->         
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="tags_card" class="card tags_card hide_when_logged_out">
                        <!-- style="width: 18rem;" -->
                        <h6 id="tag_card_header" class="card-header"><span id="tags_modifier"></span>Tags<span id="tags_toggle"></span><span onclick="toggleContentAndArrows('tag_pile','tags_up_arrow','tags_down_arrow')"><img id="tags_up_arrow" class="card_header_arrows float-right" src="/images/up_arrow.png"><img id="tags_down_arrow" class="card_header_arrows float-right" src="/images/down_arrow.png" style="display:none;"></span></h6>
                        <div id="tag_pile" class="card-body tags_body">
                            <div id="tag_results" class="tag_results"></div>
                            <div id="tag_results_message"></div>
                            <a href="" id="clear_tags_btn" onclick="clearTagArray()" class="btn btn-sm btn-outline-secondary">Clear<span class="button_text"> Selected Tags</span></a>
                            <span class="tag_search_button"></span>
                            <span id="update_button_container"></span>
                            <span class="warning_label text-danger"></span>
                        </div>
                    </div>


                    <div id="connections_card" class="card connections_card" style="display:none";>
                        <h6 id="connections_card_header" class="card-header"><span id="connections_modifier"></span>Connected Albums<span id="connections_toggle"></span><span onclick="toggleContentAndArrows('connection_pile','connections_up_arrow','connections_down_arrow')"><img  id="connections_up_arrow" class="card_header_arrows float-right" src="/images/up_arrow.png"><img id="connections_down_arrow" class="card_header_arrows float-right" src="/images/down_arrow.png" style="display:none;"></span></h6>
                        <div id="connection_pile" class="card-body connections_body">
                            <div class="connection_results"><small>There are currently no connections for this album!</small></div>
                            <div id="connection_results_message"></div>
                        </div>
                    </div>

                    <br />
                    <!-- there is intentionally no href here, it is set in albumdetails.js -->
                    <button class="btn btn-sm btn-light" onclick="window.history.back()"><img id="back_arrow" src="/images/back_arrow.png"><span class="button_text">Back</span></button>
                    <button class="btn btn-sm btn-light" onclick="scrollToTop()"><img id="up_arrow" src="/images/up_arrow.png"><span class="button_text">Top</span></button>
                    <a href="" target="_blank" class="btn btn-sm btn-light applemusicurl"><img id="earbuds" src="/images/earbuds.png"><span class="button_text">Apple Music</span></a>
                    <span id="connection_button_container"></span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->    

        <!-- Messy way to pull album ID so I can get it in my javascript -->
        <p class="heres_the_album_id" style="display:none;"> <%= albumId %> </p>   

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/albumdetails.script.js"></script>
        <script src="/javascripts/albumconnections.script.js"></script>
        <% include partials/templates/authfooter.ejs %>
    </body>
</html>