<!doctype html>
<html lang="en">
  <head>
    <% include partials/templates/head_tags.ejs %>
    <link rel="stylesheet" href="/stylesheets/album.css">
  </head>
  <body>

    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <!-- START PAGE CONTENT -->
    <div class="container-fluid">
      <!-- top main row -->
      <div class="row no-gutters">
        <!-- left main column -->
        <div class="col col-xl-4 mr-md-4 mb-md-5">
          <h2 id="album-title"></h2>
          <p id="band-name" class="text-secondary"></p>
          <img src="" id="album-cover" class="img-fluid">
        </div>
        <!-- right main column -->
        <div class="col-md-6 mr-md-2 mt-md-5 mt-3">
          <div id="info-card" class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a id="info-info-card-tab" data-card="info" class="nav-link active" href="">Info</a>
                </li>
                <li class="nav-item">
                  <a id="tags-info-card-tab" data-card="tags" class="nav-link inactive-info-tab" href="">Tags</a>
                </li>
                <li class="nav-item">
                  <a id="connections-info-card-tab" data-card="connections" class="nav-link inactive-info-tab" href="">Connections</a>
                </li>
                <li class="nav-item">
                  <a id="lists-info-card-tab" data-card="lists" class="nav-link inactive-info-tab" href="">Lists</a>
                </li>
              </ul>
            </div>
            <!-- ====== start info-card body elements ====== -->
            <div id="info-info-card-body" class="card-body info-card-body">
              <h5 class="card-title">Album information:</h5>
              <strong class="card-text mb-0 mt-2">Tracks:</strong>
              <ol id="track-titles" class="card-text text-secondary"></ol>
              <p id="release-date" class="card-text mt-2"><strong>Released: </strong><span class="text-secondary"></span></p>
              <p id="record-company" class="card-text"><strong>Record Label: </strong><span class="text-secondary"><span></p>
              <p id="apple-album-id" class="card-text mb-0"><strong>Apple album ID: </strong><span class="text-secondary"></span></p>
              <a id="more-by-this-artist"" href="">More by this artist</a>
            </div>
            <div id="tags-info-card-body" class="card-body info-card-body">
              <h5 class="card-title">Tags by <span>all </span>users:</h5>
              <div id="current-tags" class="card-text mb-4"></div>
              <!-- Note: bootstrap float-right class causes these to reverse order -->
              <button type="button" class="btn btn-sm btn-outline-primary ml-1 float-right info-card-login-button">Log in to Update</button>
              <button id="tag-update-button" type="button" class="btn btn-sm btn-outline-primary ml-1 float-right" data-toggle="modal" data-target="#updateTagModal">Add Tags</button>
              <a id="clear-tag-button" href="" class="btn btn-sm btn-outline-primary ml-1 float-right">Clear Selection</a>
              <a id="tag-search-button" href="" class="btn btn-sm btn-outline-primary ml-1 float-right">Search</a>
            </div>
            <div id="connections-info-card-body" class="card-body info-card-body">
              <h5 class="card-title">Connections by <span>all </span>users:</h5>
              <div id="connected-albums" class="card-text"></div>
              <button type="button" class="btn btn-sm btn-outline-primary ml-1 float-right info-card-login-button">Log in to Update</button>
              <button type="button" id="connection-update-button" class="btn btn-sm  btn-outline-primary float-right" data-toggle="modal" data-target="#updateConnectionModal">Add Connections</button>
            </div>
            <div id="lists-info-card-body" class="card-body info-card-body">
              <h5 class="card-title"><span>User </span>lists with this album:</h5>
              <ul id="all-lists" class="card-text"></ul>
              <button type="button" class="btn btn-sm btn-outline-primary ml-1 float-right info-card-login-button">Log in to Update</button>
              <button type="button" id="list-update-button" class="btn btn-sm  btn-outline-primary float-right" data-toggle="modal" data-target="#updateListModal">Update</button>
            </div>  
            <!-- ====== end info-card body elements ====== -->   
            
            <!-- ====== start update tag modal ====== -->
            <div class="modal fade" id="updateTagModal" tabindex="-1" role="dialog" aria-labelledby="updateTagModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateTagModalLabel">Add New Tags</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <input id="add-tag-input" type="text" class="form-control" placeholder="Add a new tag...">
                      <div class="input-group-append">
                        <button id="add-tag-button" class="btn btn-primary" type="button">Add</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ====== end update tag modal ====== -->

            <!-- ====== start update connection modal ====== -->
            <div class="modal fade" id="updateConnectionModal" tabindex="-1" role="dialog" aria-labelledby="updateConnectionModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateConnectionModalLabel">Update Tags</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <input id="add-connection-input" type="text" class="form-control" placeholder="Add a new connection...">
                      <div class="input-group-append">
                        <button id="add-connection-button" class="btn btn-primary" type="button">Add</button>
                      </div>
                    </div>
                    <small class="text-secondary font-italic">To add a connection:</small><br/>
                    <small>1. Copy the apple album ID from the info tab of another album</small><br/>
                    <small>2. Paste the album ID into the input field above</small><br/>
                    <small>3. Click 'add'!</small><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ====== end update connection modal ====== -->    
            
            <!-- ====== start update list modal ====== -->
            <div class="modal fade" id="updateListModal" tabindex="-1" role="dialog" aria-labelledby="updateListModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateListModalLabel">Update Tags</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-secondary mb-1"><small>Add to an existing list:</small></p>
                    <div id="list-input-group mb-3" class="input-group">
                      <select class="custom-select" id="list-options">
                        <!-- javascript adds lists here -->
                        <option selected>Select a list...</option>
                      </select>
                      <div class="input-group-append">
                        <button id="add-to-list-button" class="btn btn-primary" type="button">Add</button>
                      </div>
                    </div>
                    <p class="text-secondary mb-1 mt-4"><small>Add to a new list:</small></p>
                    <div class="input-group mb-2">
                      <input id="new-list-title" type="text" class="form-control" placeholder="New list name...">
                    </div>
                    <div class="input-group mb-1">
                      <input id="new-display-name" type="text" class="form-control" placeholder="User display name...">
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-primary float-right">Add to new list</button>
                    <p class="text-secondary mb-1 mt-5"><small>Remove from a current list:</small></p>
                    <div id="list-input-group2 mb-3" class="input-group">
                      <select class="custom-select" id="list-options2">
                        <!-- javascript adds lists here -->
                        <option selected>Select a list...</option>
                      </select>
                      <div class="input-group-append">
                        <button id="remove-from-list-button" class="btn btn-primary" type="button">Remove</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ====== end update list modal ====== -->            

          </div>
        </div>
        <!-- empty right column on xl screen size -->
        <!-- <div class="col-xl-1"></div> -->
      </div>
      <!-- bottom row -->
      <div class="row">
      </div>
    </div>
    <!-- END PAGE CONTENT -->    

    <% include partials/templates/footer.ejs %>
    <script src="/javascripts/album.script.js"></script>
  </body>
</html>