<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/alltags.min.css">
        <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <div id="background_image_container">
        <!--CSS PUTS BACKGROUND HERE-->
        </div>

        <div id="absolute_content" class="container-fluid">
            <h4>All Tags:</h4>
            <div class="all_tags"></div>

            <button class="btn btn-sm btn-outline-light back_button" onclick="window.history.back()">Go Back</button>
            <a href="" onclick="tagSearch(event)" class="btn btn-sm btn-outline-light all_tags_button">Search<span class="extra_text"> by Selected Tags</span></a>
            <a href="" onclick="clearTagArray(event)" class="btn btn-sm btn-outline-light all_tags_button">Clear Selected<span class="extra_text"> Tags</span></a>
            <p class="warning_label text-danger"></p>
        </div>  
        
        <!-- ====== START SEARCH MODAL ====== -->
        <% include partials/content/search_modal.ejs %>
        <!-- ====== END SEARCH MODAL ====== -->    

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/alltags.script.min.js"></script>
        <script src="/javascripts/search_modal.script.min.js"></script>
    </body>
</html>