<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
		<link rel="stylesheet" href="/stylesheets/contact.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

		<!-- MAIN PAGE CONTENT -->
		<div class='container-fluid'>
			<h5 class="text-secondary">Have a question about Album Tags?</h5>
			<h5 class="text-secondary">Think of a feature you'd like to see?</h5>
			<h5 class="text-secondary">Found something that looks broken?</h5>
			<br/>
			<p class="text-secondary">We'd love to hear from you! You can use the box below to describe your issue, then copy and paste it into an email to the address at the bottom of the page.</p>

			<form>
				<div class="form-group">
					<input type="text" class="form-control" id="userEmail" placeholder="Email">	
					<input type="text" class="form-control" id="userID" placeholder="User ID">
					
					<!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
					<textarea class="form-control" id="userInput" rows="3"></textarea>
				</div>
			</form>

			<button type="button" class="btn btn-primary" onclick="copyAllToClipboard()">Copy</button>
			<button type="button" class="btn btn-outline-secondary" onclick="clearTextField()">Clear</button>
			<br/>
			<br/>
			<p class="text-secondary">joshua@hunschejones.com</p>

		

		</div>

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
		<script src="/javascripts/contact.script.js"></script>
		<% include partials/templates/authfooter.ejs %>
    </body>
</html>
