<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/home.min.css">
        <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>


        <!-- MAIN PAGE CONTENT -->
        <div id="background_image_container">
            <!--CSS INSERTS BACKGROUND HERE-->
        </div>

        <div id="centered_content" class='container-fluid'>
            <h1 class="text-dark">Just like you, we're here for the music.</h1>
            <a href="" class="btn btn-outline-dark" data-toggle="modal" data-target="#searchModal">Search Music</a>
            <a href="/myfavorites" class="btn btn-outline-dark">Your Favorites</a>    
        </div>

        <!-- ====== START SEARCH MODAL ====== -->
        <% include partials/content/modal/search_modal.ejs %>
        <!-- ====== END SEARCH MODAL ====== -->    

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/search_modal.script.min.js"></script>
    </body>
</html>
