<!doctype html>
<html lang="en">
  <head>
    <% include partials/templates/head_tags.ejs %>
    <link rel="stylesheet" href="/stylesheets/cards.min.css">
    <link rel="stylesheet" href="/stylesheets/spinner.min.css">
    <link rel="stylesheet" href="/stylesheets/list.min.css">
  </head>
  <body>
    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <div id="background_image_container">
    <!--CSS PUTS BACKGROUND HERE-->
    </div>

    <!-- BEGIN LISTS -->
    <h3 id="list-title"></h3>
    <p id="list-creator" class="text-secondary"></p>
    <div id="loader"></div>
    <p id="no-albums-message" class="text-secondary">There are currently no albums in this list. <a href="/search">Search</a> for an album and add it to a list on the <i>Lists</i> tab.</p>
    <div id="albums" class="row container-fluid">
      <!-- lists go here -->
    </div>
    </br>
    <button id="back-button" class="btn btn-sm btn-light" onclick="window.history.back()"><img id="back_arrow" src="/images/back_arrow.png"><span class="button_text">Back</span></button>
    <button id="edit-button" class="btn btn-sm btn-light">Edit List</button>
    <!-- END LISTS -->       

    <!-- Modal -->
    <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editListModalTitle">Edit List Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="list-title-input" class="text-secondary mb-0"><small>Edit the list title:</small></label>
            <div class="input-group mb-3">
              <input id="list-title-input" type="search" class="form-control">
              <div class="input-group-append">
                <button id="update-list-title" class="btn btn-outline-primary" type="button">Update</button>
              </div>
            </div>          
            <label for="list-display-name-input" class="text-secondary mb-0"><small>Edit your display name:</small></label>
            <div class="input-group mb-3">
              <input id="list-display-name-input" type="search" class="form-control">
              <div class="input-group-append">
                <button id="update-list-display-name" class="btn btn-outline-primary" type="button">Update</button>
              </div>
            </div>
            <p class="text-secondary mt-3 mb-3" style="line-height:1em;"><small>To <strong>add</strong> an album to a list, <a href="/search">search</a> for the album, then add it from the <span class="font-italic">lists</span> tab of the album page.</small></p>
            <p class="text-secondary mb-0" style="line-height:1em;"><small>To <strong>delete</strong> an album from this list, click the 'X' in the upper-right corner of the album cover.</small></p>
          </div>
          <div id="update-list-modal-footer" class="modal-footer justify-content-between">
            <small id="list-update-success" class="text-primary">&nbsp;</small><br/>
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button> -->
            <button type="button" class="btn btn-secondary justify-content-end" data-dismiss="modal">Exit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ====== start page info modal ====== -->
    <div class="modal fade" id="pageInfoModal" tabindex="-1" role="dialog" aria-labelledby="pageInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pageInfoModalLabel">How to use this page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="page-info-modal-body" class="modal-body text-secondary pt-2">

            <small style="line-height:1em;"><strong>To add an album to this list:</strong></small><br/>
            <ol class="mb-2 pl-4"><small>
              <li><a href="/search">Search</a> for an album & click on it to navigate to the <span class="font-italic">album</span> page</li>
              <li>Click the <span class="font-italic">Lists</span> tab on the album page</li>
              <li>Click the <span class="font-italic">Add to a List</span> button in the bottom right corner of the card</li>
              <li>Select from an existing list or create a new list</li>
              <li>You can choose the title of a new list and how you would like your name displayed as the creator of the list</li>
            </small></ol>

            <small style="line-height:1em;"><strong>To remove an album from this list:</strong></small><br/>
            <ol class="mb-2 pl-4"><small>
              <li>Exit this information modal</li>
              <li>Click the 'X' in the upper-right corner of the album cover for the album you want to remove</li>
              <li>Click <span class="font-italic">Ok</span> on the confirmation alert to finish removing the album</li>
            </small></ol>

            <small style="line-height:1em;"><strong>To edit the list title or display name for this list:</strong></small><br/>
            <ol class="mb-1 pl-4"><small>
              <li>Exit this information modal</li>
              <li>Click the <span class="font-italic">Edit List</span> button at the bottom of this page</li>
              <li>Change the text in the <span class="font-italic">List title</span> or <span class="font-italic">Display name</span> fields and click the corresponding <span class="font-italic">Update</span> button to the right of the field</li>
              <li>Exit the <span class="font-italic">Edit List</span> modal</li>
            </small></ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== end page info modal ====== -->  

    <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
    <% include partials/templates/footer.ejs %>
    <script src="/javascripts/list.script.min.js"></script>
  </body>
</html>