<!doctype html>
<html lang="en">
  <head>
    <% include partials/templates/head_tags.ejs %>
    <link rel="stylesheet" href="/stylesheets/cards.min.css">
    <link rel="stylesheet" href="/stylesheets/spinner.min.css">
    <link rel="stylesheet" href="/stylesheets/list.min.css">
  </head>
  <body>
    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <div id="background_image_container">
    <!--CSS PUTS BACKGROUND HERE-->
    </div>

    <!-- BEGIN LISTS -->
    <h3 id="list-title"></h3>
    <p id="list-creator" class="text-secondary"></p>
    <div id="loader"></div>
    <p id="no-albums-message" class="text-secondary">There are currently no albums in this list. <a href="/search">Search</a> for an album and add it to a list on the <i>Lists</i> tab.</p>
    <div id="albums" class="row container-fluid">
      <!-- lists go here -->
    </div>
    </br>
    <button id="back-button" class="btn btn-sm btn-light" onclick="window.history.back()"><img id="back_arrow" src="/images/back_arrow.png"><span class="button_text">Back</span></button>
    <button id="edit-button" class="btn btn-sm btn-light">Edit List</button>
    <!-- END LISTS -->       

    <!-- Modal -->
    <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="editListModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editListModalTitle">Edit List Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="list-title-input" class="text-secondary mb-0"><small>Edit the list title:</small></label>
            <div class="input-group mb-3">
              <input id="list-title-input" type="search" class="form-control">
              <div class="input-group-append">
                <button id="update-list-title" class="btn btn-outline-primary" type="button">Update</button>
              </div>
            </div>          
            <label for="list-display-name-input" class="text-secondary mb-0"><small>Edit your display name:</small></label>
            <div class="input-group mb-3">
              <input id="list-display-name-input" type="search" class="form-control">
              <div class="input-group-append">
                <button id="update-list-display-name" class="btn btn-outline-primary" type="button">Update</button>
              </div>
            </div>
            <p class="text-secondary mt-3 mb-3" style="line-height:1em;"><small>To <strong>add</strong> an album to a list, <a href="/search">search</a> for the album, then add it from the <span class="font-italic">lists</span> tab of the album page.</small></p>
            <p class="text-secondary mb-0" style="line-height:1em;"><small>To <strong>delete</strong> an album from this list, click the 'X' in the upper-right corner of the album cover.</small></p>
          </div>
          <div id="update-list-modal-footer" class="modal-footer justify-content-between">
            <small id="list-update-success" class="text-primary">&nbsp;</small><br/>
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button> -->
            <button type="button" class="btn btn-secondary justify-content-end" data-dismiss="modal">Exit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
    <% include partials/templates/footer.ejs %>
    <script src="/javascripts/list.script.min.js"></script>
  </body>
</html>