<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/cards.min.css">
        <link rel="stylesheet" href="/stylesheets/spinner.min.css">
        <link rel="stylesheet" href="/stylesheets/favoritesfiltering.min.css">
    </head>
    <body>
        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- FILTERS SECTION -->
        <% include partials/content/favorites_filters.ejs %>

        <!-- BEGIN ALBUM CARDS -->
        <div id="all_cards" class="row container-fluid hide_when_logged_out">
            <div id="loader"></div>
        </div>
        
        <span id="log_in_message" style="display:none;"><div class="text-center"><br/><br/><br/><br/><h4 class="text-secondary">Please <span class="login_button text-primary" style="cursor:pointer;">log in</span> to access your favorites!</h4><br/><br/><br/><br/><br/><div></span>

        <div class="container-fluid album_list_instruction">
            <ul class="album_list" style="list-style-type: none;">

            </ul>
        </div>
        <!-- END ALBUM CARDS -->       

        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/myfavorites.script.min.js"></script>
    </body>
</html>