<!doctype html>
<html lang="en">
  <head>
    <% include partials/templates/head_tags.ejs %>
    <link rel="stylesheet" href="/stylesheets/myfavorites.min.css">
    <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
  </head>
  <body>
    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <!-- FILTERS SECTION -->
    <div id="all-favorites-filters" class="sticky-top" style="display:none;">
      <% include partials/content/favorites_filters.ejs %>
    </div>

    <br/><br/>

    <!-- START PAGE CONTENT -->
    <div class="container-fluid" style="padding:0px 4px 0px 5px;margin-top:-4px;">

      <!-- BEGIN ALBUM CARDS -->
      <div id="all_cards" class="row no-gutters hide_when_logged_out">
        <div id="my-favorites-loader" class="new-loader text-center" style="margin-top:190px;margin-bottom:190px;"><span class="text-secondary">Loading...</span></div>
      </div>
      
      <span id="log_in_message" style="display:none;"><div class="text-center"><br/><br/><br/><br/><h4 class="text-secondary">Please <span class="login_button text-primary" style="cursor:pointer;">log in</span> to access your favorites!</h4><br/><br/><br/><br/><br/></div></span>

      <div class="container-fluid album_list_instruction">
        <ul class="album_list" style="list-style-type: none;">

        </ul>
      </div>
      <!-- END ALBUM CARDS -->   
      
      <!-- Start Share Favorites Modal -->
      <% include partials/content/modal/share_favorites_modal.ejs %>

      <!-- ====== start page info modal ====== -->
      <% include partials/content/modal/myfavorites_info_modal.ejs %>
      <!-- ====== end page info modal ====== -->    
      
      <!-- ====== START SEARCH MODAL ====== -->
      <% include partials/content/search_modal.ejs %>
      <!-- ====== END SEARCH MODAL ====== -->      
      
      <!-- ====== start add album modal ====== -->
      <% include partials/content/modal/myfavorites_add_album_modal.ejs %>
      <!-- ====== end add album modal ====== -->     

    </div>
    <!-- END PAGE CONTENT -->

    <% include partials/templates/footer.ejs %>
    <script src="/javascripts/myfavorites.script.min.js"></script>
    <script src="/javascripts/search_modal.script.min.js"></script>
  </body>
</html>