<!doctype html>
<html lang="en">
  <head>
    <% include partials/templates/head_tags.ejs %>
    <link rel="stylesheet" href="/stylesheets/cards.min.css">
    <link rel="stylesheet" href="/stylesheets/spinner.min.css">
    <link rel="stylesheet" href="/stylesheets/mylists.min.css">
    <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
  </head>
  <body>
    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <div id="background_image_container">
    <!--CSS PUTS BACKGROUND HERE-->
    </div>

    <!-- BEGIN LISTS -->
    <div class="container-fluid">
      <!-- <h3 id="page-title">My Album Lists:</h3> -->
      <!-- <div id="loader"></div> -->
      <div id="main-page-loader" class="new-loader text-center"><span class="text-secondary">Loading...</span></div>
      <p id="no-lists-message" class="text-secondary">You do not have any custom album lists. <a href="" data-toggle="modal" data-target="#searchModal">Search</a> for an album and add it to a new list on the <i>Lists</i> tab.</p>
      <div id="all-lists" class="row">
        <!-- lists go here -->
      </div>
    </div>
    <!-- END LISTS -->  
    <div id="login-message" style="display:none;" class="text-center">
      <br/><br/><br/><br/>
      <h4 class="text-secondary">Please <span class="login_button text-primary" style="cursor:pointer;">log in</span> to access your custom album lists!</h4>
      <br/><br/><br/><br/><br/>
    </div>

    </br>
    <button id="back-button" class="btn btn-sm btn-light" onclick="window.history.back()"><img id="back_arrow" src="/images/back_arrow.png"><span class="button_text">Back</span></button>    
    <button id="launch-new-list-modal-button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#updateListModal" style="display:none;">New List</button>   

    <!-- ====== start update list modal ====== -->
    <div class="modal fade" id="updateListModal" tabindex="-1" role="dialog" aria-labelledby="updateListModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateListModalLabel">Create a New List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-2">
              <input id="new-list-title" type="search" class="form-control" placeholder="New list name...">
            </div>
            <div class="input-group mb-1">
              <input id="new-display-name" type="search" class="form-control" placeholder="User display name...">
            </div>
            <!-- private checkbox, currently disabled
            <div class="input-group mt-2 mb-1">
              <input id="private-checkbox" type="checkbox" class="mr-1"><small class="text-secondary">Make this list private</small>
            </div>
            -->
            <button id="add-new-list-button" type="button" class="btn btn btn-primary float-right">Create New List</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== end update list modal ====== -->          

    <!-- ====== START SEARCH MODAL ====== -->
    <% include partials/content/search_modal.ejs %>
    <!-- ====== END SEARCH MODAL ====== -->    

    <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
    <% include partials/templates/footer.ejs %>
    <script src="/javascripts/mylists.script.min.js"></script>
    <script src="/javascripts/search_modal.script.min.js"></script>
  </body>
</html>