<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/search.min.css">
        <link rel="stylesheet" href="/stylesheets/spinner.min.css">
        <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
        
        <!-- spinner styles just for search page -->
        <style>
            #loader {
                position: absolute;
                left: 45%;
            }
        </style>
    </head>
    <body>
        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>


        <!-- MAIN PAGE CONTENT -->

        <div id="background_image_container">
            <!--CSS PUTS BACKGROUND HERE-->
        </div>

        <div id="absolute_content" class="container-fluid">
            <div class="input-group artist_search">
                <input id="search_box" type="search" class="form-control" placeholder="Search album or artist...">
                <div class="input-group-append">
                <input id="search_button" class="btn btn-primary search_button" type="button" value="Search" onclick="populateSearchResults(pageReloaded)">
                </div>
            </div>

            <span id="warning_label" class="text-danger"></span>
            <div id="loader" style="display:none;"></div>  

            <div id="results_returned">           
                <h4 id="artists_label" class="artists_label"></h4>
                <span id="artist_results" class="artist_results"></span>
                <h4 id="albums_label" class="albums_label"></h4>
                <span id="album_results" class="album_results"></span>
            </div>
        </div>  

        <!-- ====== START SEARCH MODAL ====== -->
		<% include partials/content/search_modal.ejs %>
		<!-- ====== END SEARCH MODAL ====== -->   
        
        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>
        <script src="/javascripts/search.script.min.js"></script>
        <script src="/javascripts/search_modal.script.min.js"></script>
    </body>
</html>