<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/tagsearch.min.css">
        <link rel="stylesheet" href="/stylesheets/search_modal_cards.min.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <div id="background_image_container">
        <!--CSS PUTS BACKGROUND HERE-->
        </div>

        <div id="absolute_content" class="container-fluid">
            <h4>Searched Tags:</h4>
            <span class="tags_searched"></span>
            <br /> 
            <br />
            <h4>Matching Albums:</h4>
            <span class="album_results"></span>
            <br />
            <!-- br /-->
            <button class="btn btn-sm btn-outline-light back_button" onclick="window.history.back()">Go Back</button>
        </div>           

        <!-- ====== START SEARCH MODAL ====== -->
        <% include partials/content/modal/search_modal.ejs %>
        <!-- ====== END SEARCH MODAL ====== -->            

        <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
        <% include partials/templates/footer.ejs %>

        <!-- Messy way to pull album ID so I can get it in my javascript -->
        <p class="heres_the_selected_tags" style="display:none;"> <%= selectedTags %> </p>   

        <script src="/javascripts/tagsearch.script.min.js"></script>
        <script src="/javascripts/search_modal.script.min.js"></script>
    </body>
</html>