<!doctype html>
<html lang="en">
    <head>
        <% include partials/templates/head_tags.ejs %>
        <link rel="stylesheet" href="/stylesheets/update.min.css">
    </head>
    <body>

        <!-- BASIC NAVBAR TEMPLATE -->
        <% include partials/templates/navbar_basic.ejs %>

        <!-- START PAGE CONTENT -->
        <div id="all_the_things" class="container-fluid hide_when_logged_out">
            <div class="row">
                <div class="col-md-6">
                    <div class="row container-fluid">
                        <div class="albumdetails_details">
                            <h1 class="albumdetails_artist"></h1>
                            <span class="albumdetails_album"></span>
                            <br class="slim_br_sm"/>
                            <img class="img-fluid albumdetails_cover" src="" alt="" onclick="scrollDown()">
                        </div>
                    </div>
                    <br class="slim_br"/>

                    <div class="row container-fluid">
                        <form>
                            <div class="input-group">
                                <input id="new_tag" type="search" class="form-control add_tag_field" placeholder="Add a tag...">
                                <div class="input-group-append">
                                    <input id="add_tag_button" class="btn btn-primary add_tag_button" type="submit" formtarget="_parent" value="Add">
                                </div>
                                <span class="warning_label text-danger"></span>
                            </div>
                            
                            <div class="input-group add_connection_row">
                                <input id="new_connection" type="search" class="form-control add_connection_field" placeholder="Add a connection...">
                                <div class="input-group-append">
                                    <input id="add_connection_button" class="btn btn-primary add_connection_button" type="submit" formtarget="_parent" value="Add">
                                </div> 
                                <span class="warning_label text-danger"></span>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-md-6 container-fluid">
                    <table width=100% id="tags_table" class="table table-bordered">
                        <thead class="bg-light">
                            <tr>
                                <th width=70% >Tag</th>
                                <th width=30% >Delete</th>
                            </tr>
                        </thead>
                        <tbody class="tag_results">  

                        </tbody>
                    </table>

                    <table class="table table-bordered" id="connections_table">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Connections</th>
                            </tr>
                        </thead>
                        <tbody class="connection_results"></tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <br />
                <button id="back-button" class="btn btn-sm btn-light"><img id="back_arrow" src="/images/back_arrow.png"><span class="button_text">Back</span></button>
                <button class="btn btn-sm btn-light" onclick="scrollToTop()"><img id="up_arrow" src="/images/up_arrow.png"><span class="button_text">Top</span></button>
                </div>
            </div>

        </div>
        <div id="login-message" style="display:none;" class="text-center"><br/><br/><br/><br/><h4 class="text-secondary">Please <span class="login_button text-primary" style="cursor:pointer;">log in</span> to access the update page!</h4><br/><br/><br/><br/><br/><div>

        <span class="hide_when_logged_in" id="log_in_message"></span>
        <!-- END PAGE CONTENT -->    

        <!-- Messy way to pull album ID so I can get it in my javascript -->
        <p class="heres_the_album_id" style="display:none;"> <%= albumId %> </p>   

        <!-- BEGIN FOOTER -->
        <hr>
        <ul class="nav justify-content-end my_footer">
            <li class="nav-item">
                <a class="nav-link active" href="/about"><small>About</small></a>
            </li>
            <li class="nav_seperator"><small>|</small></li>
            <li class="nav-item">
                <a class="nav-link active" href="mailto:joshua@hunschejones.com?subject=Album Tags App"><small>Questions & Support</small></a>
            </li>
        </ul>
        <!-- END FOOTER -->

        <!-- jQuery from CDN -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
        <!-- local versions of libraries, dowloaded 07/06/18 -->
        <script src="/javascripts/libraries/popper.1.12.9.min.js"></script>
        <script src="/javascripts/libraries/bootstrap.4.0.0.min.js"></script>
        <script src="/javascripts/libraries/mousetrap.min.js"></script>
        <!-- firebase scripts -->
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-auth.js"></script>
        <!-- custom page script -->
        <script src="/javascripts/update.script.min.js"></script>
    </body>
</html>