<!doctype html>
<html lang="en">
  <head>
      <% include partials/templates/head_tags.ejs %>
      <link rel="stylesheet" href="/stylesheets/alltags.min.css">
      <style>
        #page-content{
          margin-top: 20px;
          margin-left: 20px;
          margin-bottom: 90px;
        }
      </style>
  </head>
  <body>

    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <!-- PAGE CONTENT -->
    <div class="container-fluid">
      <div id="page-content">
        <div class="row">
          <input id="find-blank-albums" class="btn btn-secondary" type="button" value="Find Blank Albums">
        </div>
        <div class="row">
          <p id="blank-albums-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="delete-blank-albums" class="btn btn-secondary" type="button" value="Delete Blank Albums">
        </div>
        <div class="row">
          <p id="blank-albums-deleted">&nbsp;</p>
        </div>
        <div class="row">
          <input id="find-albums-missing-tags" class="btn btn-secondary" type="button" value="Find Albums Missing Tags">
        </div>
        <div class="row">
          <p id="missing-albums-count">&nbsp;</p>
        </div>
        <!--
        <div class="row">
          <input id="update-albums-missing-tags" class="btn btn-secondary" type="button" value="Update Albums Missing Tags">
        </div>
        <div class="row">
          <p id="missing-albums-modified">&nbsp;</p>
        </div>
        -->
        <div class="row">
          <input id="find-duplicate-albums" class="btn btn-secondary" type="button" value="Find Duplicate Albums">
        </div>
        <div class="row">
          <p id="duplicate-album-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="find-albums-missing-songs" class="btn btn-secondary" type="button" value="Find Albums Missing Songs">
        </div>
        <div class="row">
          <p id="albums-missing-songs-count">&nbsp;</p>
        </div>         
        <div class="row">
          <input id="find-expired-albums" class="btn btn-secondary" type="button" value="Find Expired Albums">
        </div>
        <div class="row">
          <p id="expired-album-count">&nbsp;</p>
        </div>        
      </div>
    </div>
    <!-- PAGE CONTENT -->

    <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
    <% include partials/templates/footer.ejs %>

    <script>
      let blankAlbums;
      let missingTagAlbums;
      let duplicateAlbums;
      let expiredAlbums;
      let missingSongs;

      function findBlankAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/utility/blankalbums",
          success: function(data) {
            blankAlbums = data
          }
        }).then(function() {
          $('#blank-albums-count').text(`Blank albums: ${blankAlbums.length || 0}`);
        });
      }

      function deleteAlbums() {
        if (blankAlbums.length > 0) {
          blankAlbums.forEach(album => {
            $.ajax({
              method: "DELETE",
              url: "/api/v1/album/" + album._id,
            });         
          });
          $('#blank-albums-deleted').text('Blank albums deleted.');
          findBlankAlbums();
        } else {
          $('#blank-albums-deleted').text('No blank albums to delete!');
        }
      }

      function findMissingTagAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/utility/missingtags",
          success: function(data) {
            missingTagAlbums = data
          }
        }).then(function() {
          $('#missing-albums-count').text(`Albums missing tags: ${missingTagAlbums.length || 0}`)
        });
      }

      function updateMissingTagAlbums() {
        if (missingTagAlbums.length > 0) {
          missingTagAlbums.forEach(album => {
            let newTags = [];
            album.tagObjects.forEach(tagObject => {
              newTags.push(tagObject.tag);
            })
            newTags.forEach(tag => {
              let updateObject = 
              {
                "tag": tag,
                "method": "fix short tags array"
              };
              $.ajax({
                method: "POST",
                url: '/api/v1/album/tags/' + album._id,
                data: JSON.stringify(updateObject),
                contentType: "application/json"
              });
            });
          });
          $('#missing-albums-modified').text('Albums missing tags have been updated.');
          findMissingTagAlbums();
        } else {
          $('#missing-albums-modified').text('There are no albums missing tags!');
        }
      }

      function findDuplicateAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/utility/duplicates",
          success: function(data) {
            duplicateAlbums = data;
          }
        }).then(function() {
          $('#duplicate-album-count').text(`Duplicate albums: ${duplicateAlbums.length || 0}`);
        });
      }

      function findExpiredAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/utility/expired",
          success: function() {
            $('.latest-audit').remove();
            $('.purge-audits').remove();
            $('#expired-album-count').text("Expired album audit started.")
            $('#expired-album-count').after("<span class='text-primary latest-audit' style='cursor:pointer;'>&nbsp;[View latest audit]</span>")
            $('.latest-audit').click(getLatestAudit);
          }
        })
      }
      
      function getLatestAudit() {
        $.ajax({
          method: "GET",
          url: "/api/utility/audit/last",
          success: function(data) {
            $('.latest-audit').remove();
            $('.purge-audits').remove();
            if (data.message === "There are no stored album audits.") {
              $('#expired-album-count').text(`There are no previous album audits on file.`);
              $('#expired-album-count').after("<span class='text-primary latest-audit' style='cursor:pointer;'>&nbsp;[View latest audit]</span>")
              $('.latest-audit').click(getLatestAudit);
              return;
            }
            expiredAlbums = data.payload;
            $('#expired-album-count').text(`There are ${data.payload.length} expired albums.`);
            $('#expired-album-count').after("<span class='text-danger purge-audits' style='cursor:pointer;'>&nbsp;[Purge audits]</span>")
            $('#expired-album-count').after("<span class='text-primary latest-audit' style='cursor:pointer;'>&nbsp;[View latest audit]</span>")
            $('.latest-audit').click(getLatestAudit);
            $('.purge-audits').click(purgeAllAudits);
          }
        })
      }

      function purgeAllAudits() {
        const confirmed = confirm(`Are you sure you want to purge all existing expired-album audits? You cannot undo this operation.`);
        if (confirmed) {
          $.ajax({
            method: "DELETE",
            url: "/api/utility/audit/purge",
            success: function() {
              $('.latest-audits').remove();
              $('.purge-audit').remove();
              $('#expired-album-count').text("Expired album audits purged.")
              $('.latest-audit').remove();
              $('.purge-audits').remove();
            }
          })
        }
      }

      function findAlbumsMissingSongs() {
        $.ajax({
          method: "GET",
          url: "/api/utility/missingsongs",
          success: function(data) {
            if (data.message === "No albums in the database are missing songs.") {
              missingSongs = [];
            } else {
              missingSongs = data.albums;
            }
          }
        }).then(function() {
          $('#albums-missing-songs-count').text(`Albums missing songs: ${missingSongs.length || 0}`);
        })
      }

      // ====== ADD EVENT LISTENERS ======
      document.getElementById('find-blank-albums').addEventListener('click', findBlankAlbums);
      document.getElementById('delete-blank-albums').addEventListener('click', deleteAlbums);
      document.getElementById('find-albums-missing-tags').addEventListener('click', findMissingTagAlbums);
      // document.getElementById('update-albums-missing-tags').addEventListener('click', updateMissingTagAlbums); 
      document.getElementById('find-duplicate-albums').addEventListener('click', findDuplicateAlbums);
      document.getElementById('find-expired-albums').addEventListener('click', findExpiredAlbums);
      document.getElementById('find-albums-missing-songs').addEventListener('click', findAlbumsMissingSongs);
    </script>
  </body>
</html>