<!doctype html>
<html lang="en">
  <head>
      <% include partials/templates/head_tags.ejs %>
      <link rel="stylesheet" href="/stylesheets/alltags.min.css">
      <style>
        #page-content{
          margin-top: 20px;
          margin-left: 20px;
          margin-bottom: 90px;
        }
      </style>
  </head>
  <body>

    <!-- BASIC NAVBAR TEMPLATE -->
    <% include partials/templates/navbar_basic.ejs %>

    <!-- PAGE CONTENT -->
    <div class="container-fluid">
      <div id="page-content">
        <div class="row">
          <input id="find-blank-albums" class="btn btn-secondary" type="button" value="Find Blank Albums">
        </div>
        <div class="row">
          <p id="blank-albums-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="delete-blank-albums" class="btn btn-secondary" type="button" value="Delete Blank Albums">
        </div>
        <div class="row">
          <p id="blank-albums-deleted">&nbsp;</p>
        </div>
        <div class="row">
          <input id="find-albums-missing-tags" class="btn btn-secondary" type="button" value="Find Albums Missing Tags">
        </div>
        <div class="row">
          <p id="missing-albums-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="update-albums-missing-tags" class="btn btn-secondary" type="button" value="Update Albums Missing Tags">
        </div>
        <div class="row">
          <p id="missing-albums-modified">&nbsp;</p>
        </div>
        <div class="row">
          <input id="find-duplicate-albums" class="btn btn-secondary" type="button" value="Find Duplicate Albums">
        </div>
        <div class="row">
          <p id="duplicate-album-count">&nbsp;</p>
        </div>
      </div>
    </div>
    <!-- PAGE CONTENT -->

    <!-- BASIC FOOTER TEMPLATE + JavaScript Tags -->
    <% include partials/templates/footer.ejs %>

    <script>
      var blankAlbums
      var missingTagAlbums
      var duplicateAlbums

      function findBlankAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/v1/album/utility/blankalbums",
          success: function(data) {
            blankAlbums = data
          }
        }).then(function() {
          $('#blank-albums-count').text(`Blank albums: ${blankAlbums.length || 0}`)
        })
      }

      function deleteAlbums() {
        if (blankAlbums.length > 0) {
          blankAlbums.forEach(album => {
            $.ajax({
              method: "DELETE",
              url: "/api/v1/album/" + album._id,
            })          
          })
          $('#blank-albums-deleted').text('Blank albums deleted.')
          findBlankAlbums()
        } else {
          $('#blank-albums-deleted').text('No blank albums to delete!')
        }
      }

      function findMissingTagAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/v1/album/utility/missingtags",
          success: function(data) {
            missingTagAlbums = data
          }
        }).then(function() {
          $('#missing-albums-count').text(`Albums missing tags: ${missingTagAlbums.length || 0}`)
        })
      }

      function updateMissingTagAlbums() {
        if (missingTagAlbums.length > 0) {
          missingTagAlbums.forEach(album => {
            let newTags = []
            album.tagObjects.forEach(tagObject => {
              newTags.push(tagObject.tag)
            })
            newTags.forEach(tag => {
              let updateObject = 
              {
                "tag": tag,
                "method": "fix short tags array"
              }
              $.ajax({
                method: "POST",
                url: '/api/v1/album/tags/' + album._id,
                data: JSON.stringify(updateObject),
                contentType: "application/json"
              })
            })
          })
          $('#missing-albums-modified').text('Albums missing tags have been updated.')
          findMissingTagAlbums()
        } else {
          $('#missing-albums-modified').text('There are no albums missing tags!')
        }
      }

      function findDuplicateAlbums() {
        $.ajax({
          method: "GET",
          url: "/api/v1/album/utility/duplicates",
          success: function(data) {
            duplicateAlbums = data
          }
        }).then(function() {
          $('#duplicate-album-count').text(`Duplicate albums: ${duplicateAlbums.length || 0}`)
        })
      }

      // ====== ADD EVENT LISTENERS ======
      document.getElementById('find-blank-albums').addEventListener('click', findBlankAlbums)
      document.getElementById('delete-blank-albums').addEventListener('click', deleteAlbums)
      document.getElementById('find-albums-missing-tags').addEventListener('click', findMissingTagAlbums)
      document.getElementById('update-albums-missing-tags').addEventListener('click', updateMissingTagAlbums)    
      document.getElementById('find-duplicate-albums').addEventListener('click', findDuplicateAlbums)  
    </script>
  </body>
</html>