.page-info-button{
  cursor: pointer;
  opacity: 0.4;
  padding-top: 3px;
}

#album-title {
  margin-bottom: 0px;
  margin-top: 10px;
}  

#band-name {
  font-size: 1.15em;
  line-height: 1;
}

#album-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
}

.inactive-info-tab {
  color: #6c757d;
}

  .inactive-info-tab:hover {
    color: #007bff;
  }

#info-card .card-header {
  padding: 10px 20px 12px 20px;
}

#info-info-card-body,
#tags-info-card-body,
#connections-info-card-body,
#lists-info-card-body {
  overflow: auto;
  max-height: 75vh;
}

/* this sets the info tab to the default */
#tags-info-card-body,
#connections-info-card-body,
#lists-info-card-body {
  display: none;
}

#track-titles {
  counter-reset: foo;
  display: table;
  margin-left: -38px;
  line-height: 1.4em;
  margin-bottom: 6px;
}

#track-titles > li {
  counter-increment: foo;
  display: table-row;
}

#track-titles > li::before {
  content: counter(foo) ".";
  display: table-cell; 
  text-align: center;
  padding-right: 5px;
}

#release-date,
#record-company {
  margin-bottom: 0px;
}

#more-by-this-artist:hover,
#apple-music-link:hover {
  text-decoration: none;
}

/* This overrides bootstrap's style for the text input
 box so that it will display the 'x' in chrome */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.album-tag {
  transform: scale(1.1);
  font-weight: 700;
  margin-right: 13px;
}

.delete-tag-button {
  opacity: 0.3;
}

  .delete-tag-button:hover {
    opacity: 0.9;
  }

#tag-success {
  line-height: 1em;
}

.connection {
  margin: 5px 10px 5px 5px;
  display: inline-flex;
}

.connection-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin-right: 8px;
  margin-bottom: 10px;
}

.delete-connection-button {
  cursor: pointer;
  margin-left: 88px;
  margin-top: -8px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .delete-connection-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 2px 2px 5px lightgray;
  }

#search-for-second-album {
  cursor: pointer;
}

#all-lists {
  list-style-type: none;
  padding: 0;
}

.list {
  margin: 0px, 0px, 5px, 0px;
}

.remove-from-list-button {
  cursor: pointer;
  margin-left: -5px;
  margin-top: -4px;
  /* background-color: rgba(245, 245, 245, 0.7); */
  display: inline-block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
  opacity: 0.3;
  transform: scale(0.7); 
}
  .remove-from-list-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
    opacity: 1;
    transform: scale(1); 
    margin-left: 1px;
    margin-top: 0px;
  }

/* moving add to new list button to accomidate private list */
/* checkbox, currently disabled */
/* #add-to-new-list-button {
  margin-top: -25px;
} */

#add-to-favorites,
#remove-from-favorites {
  cursor: pointer;
  margin-top: -2px;
  margin-right: 2px;
}

#favorites-link {
  cursor: pointer;
}

#favorite-title {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 20px;
}

/* ====== MEDIA BREAKPOINTS FOR iPHONE 5/SE ===== */
@media screen and (max-width: 321px) {
  #info-card .card-header {
    padding: 7px 8px 12px 18px;
  }

  #info-info-card-body,
  #tags-info-card-body,
  #connections-info-card-body,
  #lists-info-card-body {
    padding: 18px 10px;
  }
  .large-button-text {
    display: none;
  }
}