#album-title {
  margin-bottom: 0px;
  margin-top: 10px;
}  

#band-name {
  font-size: 1.15em;
  line-height: 1;
}

#album-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
}

.inactive-info-tab {
  color: #6c757d;
}

  .inactive-info-tab:hover {
    color: #007bff;
  }

/* this sets the info tab to the default */
#tags-info-card-body,
#connections-info-card-body,
#lists-info-card-body {
  display: none;
}

#track-titles {
  padding-left: 5px;
  list-style-position: inside;
}

#track-titles li {
  position: relative;
}
#track-titles li span {
  position: absolute;
  left: 25px;
}

#release-date,
#record-company {
  margin-bottom: 0px;
}

.album-tag {
  transform: scale(1.1);
  font-weight: 700;
  margin-right: 13px;
}

.delete-tag-button {
  opacity: 0.3;
}

  .delete-tag-button:hover {
    opacity: 0.9;
  }

.connection {
  margin: 5px 10px 5px 5px;
  display: inline-flex;
}

.connection-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin-right: 8px;
  margin-bottom: 10px;
}

.delete-connection-button {
  cursor: pointer;
  margin-left: 88px;
  margin-top: -8px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .delete-connection-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 2px 2px 5px lightgray;
  }

#all-lists {
  list-style-type: none;
  padding: 0;
}

.list {
  margin: 0px, 0px, 5px, 0px;
}

/* ====== MEDIA BREAKPOINTS ===== */
/* replaced with bootstrap classes */
/* @media screen and (max-width: 500px) {
  #info-card { 
    margin-top: 20px;
  }
  #album-cover {
    margin-bottom: 0px;
  }
} */
/* replaced with bootstrap classes */
/* @media screen and (min-width: 500px) {
  #info-card { 
    margin-top: 80px;
  }
  #album-cover {
    margin-bottom: 15px;
  }
} */