.albumdetails_artist {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#add_to_favorites {
    padding: 0px 8px 5px 8px;
    margin: 0px 0px 0px 5px;
    fill: grey;
}

#remove_from_favorites {
    padding: 0px 8px 5px 8px;
    margin: 0px 0px 0px 5px;
}

#the_album_name, #the_album_id {
    padding: 0px;
    margin: 0px;
}

.albumdetails_cover {
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 10px;
}

.details_body {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

    @media screen and (min-width: 500px) {
        #tags_down_arrow,
        #tracks_down_arrow {
            display: none;
        }
        #tags_up_arrow {
            display: block;
        }
        #tracks_up_arrow {
            display: inline-block;
        }
        .button_text {
            display: inline;
        }
    }

    @media screen and (max-width: 500px) {
        /* song names and tags starting hidden */
        #song_names, 
        #tag_pile, 
        #tags_up_arrow,
        #tracks_up_arrow {
            display: none;
        }
        #tags_down_arrow {
            display: block;
        }
        #tracks_down_arrow {
            display: inline-block;
        }
        .button_text {
            display: none;
        }
    }

.song_names {
    margin: 0px;
}

#song_br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
}

.tracks_arrows {
    height:8px;
    margin-left: 8px;
    margin-bottom: 2px;
    opacity: 0.5;
    cursor: pointer;
}

.card_header_arrows {
    height:12px;
    margin-right:12px;
    margin-top:3px;
    cursor: pointer;
}

.tags_card, .connections_card {
    margin: 5px;
}

#connections_card {
    margin-top: 12px;
}

#tag_card_header, #connections_card_header {
    padding: 7px 0px 7px 15px;
}

.tags_body {
    padding: 10px;
}

.connections_body {
    padding: 10px 10px 0px 10px;
    max-height: 240px;
    overflow: auto;
}

#connection_results_message {
    padding: 4px 0px 15px 0px;
}

.tag_search_button,
#clear_tags_btn {
    margin-top: 15px;
}

.small_cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin-right: 8px;
    margin-bottom: 10px;
}

#update_button_container a {
    margin-top: 16px;
}

.warning_label {
    margin: 5px 0px 0px 0px;
}

#earbuds {
    height: 22px;
    padding-left: 1px;
    opacity: 0.8;
}

.hide_me_details {
    display: none !important;
}

/* ======= navigation arrows ======== */
#back_arrow {
    height: 22px;
    padding: 0px 6px 2px 3px;
}
#up_arrow {
    height: 18px;
    padding: 0px 4px 5px 4px;
}
