.jumbotron {
    margin-bottom: 0px;
}

.dropdown {
    margin: 2px 0px 0px 0px;
}

.year_to_filter_by, 
.genre_to_filter_by,
.artist_to_filter_by {
    margin: 0px 2px 0px 2px;
    padding: 3px 5px 3px 5px !important;
}

#year_filter_menu, 
#genre_filter_menu,
#artist_filter_menu {
    padding: 1px 0px 4px 4px;
}

#artist_filter_menu {
    overflow: auto;
    max-height: 55vh;
}

.badge {
    font-size: .8em;
    padding: 5px;
}

#clear_filters_button {
    margin: 2px 0px 0px 3px;
}

@media screen and (min-width: 500px) {

    .button_text {
        display: inline;
    }
}

@media screen and (max-width: 500px) {

    .button_text {
        display: none;
    }
}

#up_arrow {
    height: 18px;
    padding: 0px 4px 5px 4px;
}

#to_top_button {
    margin: 0px 0px 0px 3px;
}

.to_top_button_container {
    margin-top: 2px;
}

#top_10_button {
    padding: 2px 5px 6px 6px;
}

#top_star_full,
#top_star_empty {
    height: 18px;
}

#log_in_message {
    margin-top: 100px;
    margin-bottom: 100px;
}