#list-title {
  line-height: 1em;
  margin: 22px 5px 0px 15px;
}

.page-info-button {
  cursor: pointer;
  opacity: 0.4;
  font-size: 0.6em;
}

#list-creator {
  margin: 0px 5px 10px 15px;
  line-height: 1em;
}

#no-albums-message {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.album-delete-button {
  cursor: pointer;
  margin-left: 232px;
  margin-top: -3px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .album-delete-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
  }

  @media screen and (max-width: 800px) {
    .album-delete-button {
      margin-left: 150px;
    }
  }

#back-button {
  margin-left: 12px;
}
#back_arrow {
  height: 22px;
  padding: 0px 6px 2px 3px;
}
#edit-button {
  padding: 5px 10px;
  display: none;
}

/* This overrides bootstrap's style for the text input
 box so that it will display the 'x' in chrome */
 input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
