#main-page-loader {
  margin-top: 170px;
  margin-bottom: 140px;
}

/* ====== START LIST FILTER STYLING ====== */
@media screen and (max-width: 500px) {
  .large-button-text {
    display: none;
  }
}

#list-filters {
  /* make icons stay visible at top of screen when scrolling */
  padding-top: 16px;
  margin-top: -16px;
}

#clear-filters-button,
#filter-by-year-button,
#filter-by-genre-button,
#filter-by-artist-button {
  margin-right: 1px;
}

#clear-filters-button .large-button-text,
#filter-by-year-button .large-button-text,
#filter-by-genre-button .large-button-text,
#filter-by-artist-button .large-button-text {
  margin-right: 5px;
}

#to-top-button,
#add-album-button,
#edit-button {
  margin-left: 1px;
}

/* ====== END LIST FILTER STYLING ====== */

#list-title {
  display: inline-block;
  line-height: 1em;
  margin: -2px 5px 0px 15px;
}

#page-info-button {
  cursor: pointer;
  opacity: 0.4;
  display: inline;
}

#list-creator {
  margin: 1.5px 5px 10px 15px;
  line-height: 1em;
}

#no-albums-message {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.album-delete-button {
  cursor: pointer;
  margin-left: 232px;
  margin-top: -3px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .album-delete-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
  }

  @media screen and (max-width: 800px) {
    .album-delete-button {
      margin-left: 150px;
    }
  }

#back-button {
  margin-left: 12px;
}
#back_arrow {
  height: 22px;
  padding: 0px 6px 2px 3px;
}
#edit-button,
#add-album-button {
  padding: 5px 10px;
  display: none;
}
.inactive-list-edit-tab {
  color: #6c757d;
}

  .inactive-list-edit-tab:hover {
    color: #007bff;
  }

#add-album-search-results {
  display: inline-flex;
  max-width: 100%;
  padding-right: 5px;
  overflow-x: hidden;
  padding-bottom: 11px; /* accomidates size of scroll bar */
}

#add-album-search-results:hover {
  overflow-x: scroll;
  padding-bottom: 0px; /* accomidates size of scroll bar */
}

/* This overrides bootstrap's style for the text input
 box so that it will display the 'x' in chrome */
 input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* ====== show scrollbar ====== */
#add-album-search-results::-webkit-scrollbar {
  -webkit-appearance: none;
}

#add-album-search-results::-webkit-scrollbar:vertical {
  width: 11px;
}

#add-album-search-results::-webkit-scrollbar:horizontal {
  height: 11px;
}

#add-album-search-results::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

#add-album-search-resultss::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px; 
} 

/* adds the arrow to the end of the scroll bar */
#add-album-search-results::-webkit-scrollbar-button:horizontal:end:increment {
  display: block;
  background:
      linear-gradient(210deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}

/* adds the arrow to the start of the scroll bar */
#add-album-search-results::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  background:
      linear-gradient(30deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
