#main-page-loader {
  margin-top: 170px;
  margin-bottom: 140px;
}

/* ====== START LIST FILTER STYLES ====== */
#list-filters {
  margin-top: -1px;
  padding: 1px;
}

#clear-filters-button,
#filter-by-year-button,
#filter-by-genre-button,
#filter-by-artist-button {
  margin-right: 1px;
}

#clear-filters-button .large-button-text,
#filter-by-year-button .large-button-text,
#filter-by-genre-button .large-button-text,
#filter-by-artist-button .large-button-text {
  margin-right: 5px;
}

#to-top-button,
#add-album-button,
#edit-button,
#share-favorites-button {
  margin-left: 1px;
}

#year-filter-dropdown, 
#genre-filter-dropdown,
#artist-filter-dropdown {
  padding: 1px 0px 4px 4px;
  margin: 2px 0px 0px 0px;
}

.year-filter, 
.genre-filter,
.artist-filter {
  margin: 0px 2px 0px 2px;
  padding: 3px 5px 3px 5px !important;
  cursor: pointer;
}

#artist-filter-dropdown {
  overflow: auto;
  max-height: 55vh;
}

#filter-by-genre-button {
  display: none;
}

@media screen and (max-width: 350px) {
  #list-filters {
    margin-top: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .large-button-text {
    display: none;
  }
}
/* ====== END LIST FILTER STYLES ====== */


#list-top-line {
  display: block;
  line-height: 1em;
  margin: -6px 5px 0px 6px;
}

#list-title {
  display: inline;
  margin-right: 5px;
}

#page-info-button {
  cursor: pointer;
  opacity: 0.4;
  display: inline;
}

#list-creator {
  margin: 1.5px 0px 10px 6px;
  line-height: 1em;
}

#no-albums-message {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

/* ====== START CARD STYLES ====== */
#albums .card {
  width: 16rem;
  word-wrap: break-word;
  margin: 2px 8px 5px 7px;
  border: none;
}

#albums .card img {
  border-radius: .25rem;
  width: 16rem;
  height: 16rem;
  box-shadow: 2px 2px 5px grey;
}

#albums .card-title {
  margin-bottom: 3px;
  font-size: 1.1rem;
  line-height: 1.1;
}

#albums .card-body {
  padding: 5px 9px 6px 4px;
  line-height: 1.2;
}

#albums .large_artist,
#albums .small_artist {
  margin-top: 3px;
}

#albums .small_album,
#albums .large_album {
  font-size: .9rem;
  color: #6c757d;
  font-weight: 100;
  margin-top: -2px;
}

@media screen and (max-width: 800px) {
  #albums .card {
    width: 10.8rem;
    margin: 3px 5px;
  }
  #albums .card img {
    width: 10.8rem;
    height: 10.8rem;
  }
  #albums .large_artist,
  #albums .large_album {
    display: none;
  }
  #albums .small_artist,
  #albums .small_album {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  #albums .small_artist,
  #albums .small_album {
    display: none;
  }
  #albums .large_artist,
  #albums .large_album {
    display: block;
  }
}
/* ====== END CARD STYLES ====== */

.album-delete-button {
  cursor: pointer;
  margin-left: 241px;
  margin-top: -8px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .album-delete-button:hover {
    background-color: rgb(245, 245, 245);
  }

  @media screen and (max-width: 800px) {
    .album-delete-button {
      margin-left: 157px;
    }
  }

#to-top-button {
  padding: 5px 8px;
}

/* move dropdown arrow down */
#list-filters .dropdown-toggle::after {
  margin-bottom: -2px;
}

#edit-button,
#add-album-button,
#share-favorites-button {
  padding: 5px 10px;
  display: none;
}

#list-update-success {
  margin-top: 20px;
  margin-bottom: -50px;
  margin-right: 18px;
}

#favorites-search-results,
#add-album-search-results {
  display: inline-flex;
  max-width: 100%;
  padding-right: 5px;
  overflow-x: hidden;
  padding-bottom: 11px; /* accomidates size of scroll bar */
}

#favorites-search-results:hover,
#add-album-search-results:hover {
  overflow-x: scroll;
  padding-bottom: 0px; /* accomidates size of scroll bar */
}

/* This overrides bootstrap's style for the text input
 box so that it will display the 'x' in chrome */
 input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#copied-message {
  margin-left: 17px;
  margin-bottom: 8px;
  margin-top: -25px;
  display: none;
}

/* ====== show scrollbar ====== */
#favorites-search-results::-webkit-scrollbar,
#add-album-search-results::-webkit-scrollbar {
  -webkit-appearance: none;
}

#favorites-search-results::-webkit-scrollbar:vertical,
#add-album-search-results::-webkit-scrollbar:vertical {
  width: 11px;
}

#favorites-search-results::-webkit-scrollbar:horizontal,
#add-album-search-results::-webkit-scrollbar:horizontal {
  height: 11px;
}

#favorites-search-results::-webkit-scrollbar-thumb,
#add-album-search-results::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

#favorites-search-results::-webkit-scrollbar-track,
#add-album-search-results::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px; 
} 

/* adds the arrow to the end of the scroll bar */
#favorites-search-results::-webkit-scrollbar-button:horizontal:end:increment,
#add-album-search-results::-webkit-scrollbar-button:horizontal:end:increment {
  display: block;
  background:
      linear-gradient(210deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}

/* adds the arrow to the start of the scroll bar */
#favorites-search-results::-webkit-scrollbar-button:horizontal:start:decrement,
#add-album-search-results::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  background:
      linear-gradient(30deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
