#no-lists-message {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

#all-lists {
  list-style-type: none;
  padding: 0;
}

.list {
  margin: 0px, 0px, 5px, 0px;
}

.list-delete-button {
  cursor: pointer;
  margin-left: -5px;
  margin-top: -4px;
  /* background-color: rgba(245, 245, 245, 0.7); */
  display: inline-block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
  opacity: 0.3;
  transform: scale(0.7); 
}
  .list-delete-button:hover {
    background-color: rgba(245, 245, 245, 0.9);
    opacity: 1;
    transform: scale(1); 
    margin-left: 1px;
    margin-top: 0px;
  }

#back-button {
  margin-left: 12px;
}
#back_arrow {
  height: 22px;
  padding: 0px 6px 2px 3px;
}