/* @import "new-spinner.min.css"; */
/* ^ adding spinner to use in modal */

/* ====== MODAL AND CARD STYLES ======= */
#search-modal-results {
  display: inline-flex;
  max-width: 100%;
  padding-right: 5px;
  overflow-x: hidden;
  padding-bottom: 11px; /* accomidates size of scroll bar */
}

#search-modal-results:hover {
  overflow-x: scroll;
  padding-bottom: 0px; /* accomidates size of scroll bar */
}

.search-modal-card {
  width: 16rem;
  word-wrap: break-word;
}

.search-modal-card-image {
  border-radius: .25rem;
  width: 16rem!important;
  height: 16rem!important;
  box-shadow: 2px 2px 5px grey;
}

@media screen and (max-width: 800px) {
  .search-modal-card-image {
    width: 10.8rem!important;
    height: 10.8rem!important;
  }
  .search-modal-card {
    width: 10.8rem!important;
  }
  .search-modal-card-large-artist,
  .search-modal-card-large-album {
    display: none;
  }
  .search-modal-card-small-artist,
  .search-modal-card-small-album {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .search-modal-card-small-artist,
  .search-modal-card-small-album {
    display: none;
  }
  .search-modal-card-large-artist,
  .search-modal-card-large-album {
    display: block;
  }
}
  
.search-modal-card {
  margin: 5px !important;
}

.search-modal-card-title {
  margin-bottom: 3px;
  font-size: 1.1rem;
  line-height: 1.1;
}

.search-modal-card-body {
  padding: 5px 9px 6px 4px;
  line-height: 1.1;
}

.search-modal-card-album {
  font-size: .9rem;
  color: #6c757d;
  font-weight: 100;
}

/* This overrides bootstrap's style for the text input
box so that it will display the 'x' in chrome */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* ====== MODAL SCROLLBAR ====== */
#search-modal-results::-webkit-scrollbar {
  -webkit-appearance: none;
}

#search-modal-results::-webkit-scrollbar:vertical {
  width: 11px;
}

#search-modal-results::-webkit-scrollbar:horizontal {
  height: 11px;
}

#search-modal-results::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

#search-modal-results::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px; 
} 

/* adds the arrow to the end of the scroll bar */
#search-modal-results::-webkit-scrollbar-button:horizontal:end:increment {
  display: block;
  background:
      linear-gradient(210deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}

/* adds the arrow to the start of the scroll bar */
#search-modal-results::-webkit-scrollbar-button:horizontal:start:decrement {
  display: block;
  background:
      linear-gradient(30deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}

/* ====== NEW SPINNER ====== */
/* https://projects.lukehaas.me/css-loaders/ */
.new-loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d6d6d6, 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.5), -1.8em -1.8em 0 0em rgba(214,214,214, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.7), 1.8em -1.8em 0 0em #d6d6d6, 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.5), 1.8em -1.8em 0 0em rgba(214,214,214, 0.7), 2.5em 0em 0 0em #d6d6d6, 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.5), 2.5em 0em 0 0em rgba(214,214,214, 0.7), 1.75em 1.75em 0 0em #d6d6d6, 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.5), 1.75em 1.75em 0 0em rgba(214,214,214, 0.7), 0em 2.5em 0 0em #d6d6d6, -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.5), 0em 2.5em 0 0em rgba(214,214,214, 0.7), -1.8em 1.8em 0 0em #d6d6d6, -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.5), -1.8em 1.8em 0 0em rgba(214,214,214, 0.7), -2.6em 0em 0 0em #d6d6d6, -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.5), -2.6em 0em 0 0em rgba(214,214,214, 0.7), -1.8em -1.8em 0 0em #d6d6d6;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d6d6d6, 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.5), -1.8em -1.8em 0 0em rgba(214,214,214, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.7), 1.8em -1.8em 0 0em #d6d6d6, 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.5), 1.8em -1.8em 0 0em rgba(214,214,214, 0.7), 2.5em 0em 0 0em #d6d6d6, 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.5), 2.5em 0em 0 0em rgba(214,214,214, 0.7), 1.75em 1.75em 0 0em #d6d6d6, 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.5), 1.75em 1.75em 0 0em rgba(214,214,214, 0.7), 0em 2.5em 0 0em #d6d6d6, -1.8em 1.8em 0 0em rgba(214,214,214, 0.2), -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.5), 0em 2.5em 0 0em rgba(214,214,214, 0.7), -1.8em 1.8em 0 0em #d6d6d6, -2.6em 0em 0 0em rgba(214,214,214, 0.2), -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.5), -1.8em 1.8em 0 0em rgba(214,214,214, 0.7), -2.6em 0em 0 0em #d6d6d6, -1.8em -1.8em 0 0em rgba(214,214,214, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(214,214,214, 0.2), 1.8em -1.8em 0 0em rgba(214,214,214, 0.2), 2.5em 0em 0 0em rgba(214,214,214, 0.2), 1.75em 1.75em 0 0em rgba(214,214,214, 0.2), 0em 2.5em 0 0em rgba(214,214,214, 0.2), -1.8em 1.8em 0 0em rgba(214,214,214, 0.5), -2.6em 0em 0 0em rgba(214,214,214, 0.7), -1.8em -1.8em 0 0em #d6d6d6;
  }
}