.tag {
  font-size: .8em;
  padding: 5px;
  margin: 3px;
}

#background_image_container {
  /* background-position: top; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  /* opacity: 0.2; */
  /* opacity: 0.3; */
  filter: blur(5px) brightness(80%);
  opacity: 0.7;
  box-shadow: inset 0 0 2px 2px #fff;
  /* filter: blur(5px) brightness(105%); */
}

.back_button {
  background-color: rgba(128, 128, 128, 0.25);
  margin-top: 5px;
}

#absolute_content {
  position: absolute;
  left: 0%;
  top: 125px;
}    

.album_results {
  background-color: rgba(255, 255, 255, 0.75);
  display:inline-block;
  padding: 4px;
  border-radius: 5px;
  overflow: auto;
  max-height: 52vh;
}

/* -------- ADJUSTED FOOTER STYLES --------- */
hr {
  margin-top: 7px;
}

.my_footer a, 
.my_footer .nav_seperator {
  padding: 2px 9px 0px 2px;
  margin-bottom: 10px;
}

/* Manipulating background and absolute search bar position by screen size */
@media screen and (max-height: 600px) {
  /* #absolute_content {
      top: 21%;
  } */
  #background_image_container {
    background-image: url("../images/city_sm.jpg");
    /* background-image: url("../images/read_earbuds_sm.jpg"); */
    /* background-image: url("../images/white_headphones_sm.jpg"); */
    /* background-image: url("../images/pink_headphones_sm.jpg"); */
  }
}

@media screen and (min-height: 600px) and (max-height: 800px) {
  /* #absolute_content {
      top: 18%;
  } */
  #background_image_container {
    background-image: url("../images/city_sm.jpg");
    /* background-image: url("../images/read_earbuds_sm.jpg"); */
    /* background-image: url("../images/white_headphones_sm.jpg"); */
    /* background-image: url("../images/pink_headphones_sm.jpg"); */
  }
}

@media screen and (min-height: 800px) and (max-height: 1000px) {
  /* #absolute_content {
      top: 14%;
  } */
  #background_image_container {
    background-image: url("../images/city_md.jpg");
    /* background-image: url("../images/read_earbuds_md.jpg"); */
    /* background-image: url("../images/white_headphones_md.jpg"); */
    /* background-image: url("../images/pink_headphones_md.jpg"); */
  }
}

@media screen and (min-height: 1000px) and (max-height: 1280px) {
  /* #absolute_content {
      top: 12%;
  } */
  #background_image_container {
    background-image: url("../images/city_md.jpg");
    /* background-image: url("../images/read_earbuds_md.jpg"); */
    /* background-image: url("../images/white_headphones_md.jpg"); */
    /* background-image: url("../images/pink_headphones_md.jpg"); */
  }
}

@media screen and (min-height: 1280px) {
  /* #absolute_content {
      top: 10%;
  } */
  #background_image_container {
    background-image: url("../images/city_lg.jpg");
    /* background-image: url("../images/read_earbuds_lg.jpg"); */
    /* background-image: url("../images/white_headphones_lg.jpg"); */
    /* background-image: url("../images/pink_headphones_lg.jpg"); */
  }
}