.albumdetails_artist {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.albumdetails_cover {
  margin-top: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 10px;
}

.add_tag_form {
  margin-bottom: 10px;
}

.add_tag_text_input, 
.add_connection_text_input {
  margin-left: 8px !important;
  display: inline-flex
}

.add_connection_row {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* This overrides bootstrap's style for the text input
 box so that it will display the 'x' in chrome */
   input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  }

#new_tag,
#new_connection {
  min-width: 300px;
}

#add_tag_button,
#add_connection_button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

td, th {
  padding: 5px 0px 5px 10px !important;
}

/* currently this scrolling table body doesnt work */
#table_overflow {
  max-height: 258px;
  overflow: auto;
}

.please_log_in {
  text-align: center;
  margin: 50px 0px 80px 0px;
}

.slim_br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 6px; /* change this to whatever height you want it */
}

.slim_br_sm {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 0px; /* change this to whatever height you want it */
}

.warning_label {
  /* margin-left: 0px; */
  margin-bottom: 10px;
}

.connection {
  margin: 5px 10px 5px 5px;
  display: inline-flex;
}

.connection a {
  position: relative;
}

.connection-delete-button {
  cursor: pointer;
  margin-left: -14px;
  margin-top: -5px;
  background-color: rgba(245, 245, 245, 0.7);
  display: block;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 1em;
  position: absolute;
  color: darkslategrey;
}
  .connection-delete-button:hover {
      background-color: rgba(245, 245, 245, 0.9);
  }

/* ======= navigation arrows ======== */
#back_arrow {
  height: 22px;
  padding: 0px 6px 2px 3px;
}
#up_arrow {
  height: 18px;
  padding: 0px 4px 5px 4px;
}

/* ====== media breakpoints for button text */
@media screen and (min-width: 500px) {
  .button_text {
      display: inline;
  }
}

@media screen and (max-width: 500px) {
  .button_text {
      display: none;
  }
}

/* ====== media breakpoints for input width ====== */
@media screen and (max-width: 350px) {
  #new_tag,
  #new_connection {
      min-width: 210px;
  }
  .add_connection_row {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  #new_tag,
  #new_connection {
      min-width: 250px;
  }
  .add_connection_row {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .add_connection_row {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}