<!-- BEGIN FOOTER HTML -->
<hr>
<ul class="nav justify-content-end my_footer">
    <li class="nav-item">
        <a class="nav-link active" href="/about"><small>About</small></a>
    </li>
    <li class="nav_seperator"><small>|</small></li>
    <li class="nav-item">
        <a class="nav-link active" href="mailto:joshua@hunschejones.com?subject=Album Tags App"><small>Questions & Support</small></a>
    </li>
</ul>
<!-- END FOOTER HTML -->

<!-- START PAGE SPECIFIC SCRIPT LOADING -->
<% const authPages = ["Your Favorite Albums", "Update Album Tags", "Album Details", "Create & Manage Album Lists", "View & Edit Album Lists"] %>
<% if (authPages.indexOf(subTitle) !== -1) { %>
    <!-- NEW FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
<% } %>
<!-- END PAGE SPECIFIC SCRIPT LOADING -->

<!-- SCRIPTS TO LOAD ON EVERY PAGE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="/javascripts/libraries/popper.1.14.7.min.js"></script>
<script src="/javascripts/libraries/bootstrap.4.3.1.min.js"></script>
