<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="PjMpUsazFuUFDPP2j72Kv00k-MAktkM5-B3HpufbyTg" />
<meta http-equiv="Cache-control" content="private", max-age=600>
 <% include ./newrelicbrowser.ejs %>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.min.css">
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

<title>Album Tags <%= pageTitle %></title>
