<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="PjMpUsazFuUFDPP2j72Kv00k-MAktkM5-B3HpufbyTg">
<!-- <% include ./newrelicbrowser.ejs %> -->
<%- newrelic.getBrowserTimingHeader() %>

<link rel="stylesheet" href="/stylesheets/libraries/bootstrap.4.3.1.min.css">
<link rel="stylesheet" href="/stylesheets/style.min.css">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<title>Album Tags <%= pageTitle %></title>