<!-- JavaScript warning -->
<% include ./noscript.ejs %>

<div id="main-menu" class="jumbotron jumbotron-fluid bg-dark ">
    <h1 class="display-5">
        <!-- home link -->
        <a class="display-5 text-light" id="brand_home" href="/">Album Tags</a>
        
        <!-- page subtitle -->
        <span id="full_menu_page_title" class="subtitle text-muted font-weight-light"> <%= subTitle %> </span>

        <!-- login and logout buttons -->
        <div id="full_menu_login_logout_container" class="hide_me float-right">
            <a class="btn btn-sm btn-primary hide_when_logged_in" id="full_menu_login_button">Log In</a>
            <a class="btn btn-sm btn-danger hide_when_logged_out" id="full_menu_logout_button">Log Out</a>
        </div>          
    </h1>
 
    <!-- compact navigation -->
    <ul id="compact_menu" class="nav">
        <li class="nav-item dropdown">
            <a id="compact-menu-dropdown" class="my_dropdown lead text-secondary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img id="menu_hamburger" style="height:23px" src="/images/menu.png"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item hide_when_logged_in hide_me" id="login_button" style="cursor:pointer;">Log In</a>
                <a class="dropdown-item hide_when_logged_out hide_me" id="logout_button" style="cursor:pointer;">Log Out</a>
                <div class="dropdown-divider" id="login_divider" class="hide_me"></div>
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/about">About</a>
                <a id="launch-search-modal-button" class="dropdown-item" href="" >Search</a>
                <!-- <a class="dropdown-item" href="" data-toggle="modal" data-target="#searchModal">Search</a> -->
                <a class="dropdown-item" href="/alltags">All Tags</a>
                <!-- ====== OLD OUR FAVORITES PAGE ====== -->
                <!-- <a class="dropdown-item" href="/favorites">Favorites</a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/mylists">My Lists</a>
                <a class="dropdown-item" href="/myfavorites">My Favorites</a>
            </div>
        </li>
        <p class="subtitle lead text-muted"><%= subTitle %> </p>
    </ul> 

    <!-- full navigation -->
    <nav id="full_menu" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/">Home</a>
                </li>
                <li class="text-secondary full_menu_divider">|</li>
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/about">About</a>
                </li>  
                <li class="text-secondary full_menu_divider">|</li>            
                <li class="nav-item">                
                    <a href="" class="nav-link full_menu_link" data-toggle="modal" data-target="#searchModal">Search</a>
                </li>
                <li class="text-secondary full_menu_divider">|</li>               
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/alltags">All Tags</a>
                </li>
                <li class="text-secondary full_menu_divider">|</li>  
                <!--       
                ====== OLD OUR FAVORITES PAGE ======     
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/favorites">Favorites</a>
                </li>     
                <li class="text-secondary full_menu_divider">|</li> 
                --> 
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/mylists">My Lists</a>
                </li>  
                <li class="text-secondary full_menu_divider">|</li> 
                <li class="nav-item">
                    <a class="nav-link full_menu_link" href="/myfavorites">My Favorites</a>
                </li>                                             
            </ul>         
        </div>
    </nav>
</div>