<noscript>
  <div id="noscript-alert">
    <a href="#noscript-alert" class="closebtn">&times;</a>
    <div id="noscript-alert-text">
      &#9888;&nbsp;To enjoy the full functionality of Album Tags, it is necessary to  
      enable JavaScript. You can follow <a href="https://www.enable-javascript.com/" 
      target="_blank">these instructions</a> to enable JavaScript in your web browser.
      &nbsp;&#9888;
    </div>
  </div>
</noscript>
