<img class="card-img-top" src="" alt="">
<div class="card-body">
    <h4 class="card-title"></h4>
    <span class="album"><span class="text-primary">Loading Album Details...</span></span> 
    <br />
    <br />
    <small class="label"></small>
    <small class="release"></small>

    <br />
    <small><a class="album_details_link" href="">Album Details</a></small>

</div>
<div class="card-footer">
    <small class="text-muted">Last updated 03/24/2018</small>
</div>