
<button id="share-favorites-button" class="btn btn-sm btn-light float-right hide_when_logged_out">
    <span class="button_text">Share Favorites</span><img src="/images/share.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.7;">
</button>

<button id="clear_filters_button" class="btn btn-sm btn-light float-right hide_when_logged_out" onclick="clearFilters()">
    <span class="button_text">Clear Filters</span><img src="/images/clear-icon.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.7;">
</button>

<div class="dropdown float-right">
    <button id="filter_by_year_dropdown_button" class="btn btn-sm btn-light dropdown-toggle hide_when_logged_out" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="buildYearFilters()">
        <span class="button_text">Filter by Year</span><img src="/images/calendar-icon.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.7;">
    </button>
    <div id="year_filter_menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="filter_by_year_dropdown_button">
        <!-- javascript puts filter years here -->
    </div>
</div>

<div class="dropdown float-right">
    <button id="filter_by_genre_dropdown_button" class="btn btn-sm btn-light dropdown-toggle hide_when_logged_out" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="buildGenreFilters()">
    <span class="button_text">Filter by Genre</span><img src="/images/genre.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.9;">
    </button>
    <div id="genre_filter_menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="filter_by_genre_dropdown_button">
        <!-- javascript puts filter tags here -->
    </div>
</div>

<div class="dropdown float-right">
    <button id="filter_by_artist_dropdown_button" class="btn btn-sm btn-light dropdown-toggle hide_when_logged_out" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="buildArtistFilters()">
    <span class="button_text">Filter by Artist</span><img src="/images/artist-icon.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.6;">
    </button>
    <div id="artist_filter_menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="filter_by_artist_dropdown_button">
        <!-- javascript puts filter tags here -->
    </div>
</div>

<div class="to_top_button_container sticky-top">
    <button id="top_10_button" class="btn btn-sm btn-light float-right hide_when_logged_out" onclick="selectTopTen()" style="display:none;" data-toggle="tooltip" data-placement="top" title="Top 10" data-trigger="hover">
        <img id="top_star_full" src="/images/star-full-icon.png" style="display:none;"><img id="top_star_empty" src="/images/star_grey_2.png" style="filter:brightness(50%);"><!--<span class="button_text">Top 10</span>-->
    </button>
</div>

<div class="to_top_button_container float-left">
    <button id="to_top_button" class="btn btn-sm btn-light hide_when_logged_out" onclick="scrollToTop()"><img id="up_arrow" src="/images/up_arrow.png"><span class="button_text">Top</span></button>
</div>

<div class="to_top_button_container sticky-top">
    <button id="add-album-menu-button" class="btn btn-sm btn-light float-left hide_when_logged_out" style="margin-left:2px;" data-toggle="modal" data-target="#addFavoritesAlbumModal">
        <span class="button_text">Add an Album</span><img src="/images/add-icon.png" class="mobile-button-icon" style="height:20px;margin-top:-3px;opacity:0.8;">
    </button>
</div>
