<div class="modal fade" id="pageInfoModal" tabindex="-1" role="dialog" aria-labelledby="pageInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pageInfoModalLabel">How to use this page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="page-info-modal-body" class="modal-body text-secondary pt-2">

        <small style="line-height:1em;"><strong>To add an album to this list:</strong></small><br/>
        <ol class="mb-2 pl-4"><small>
          <li>Click <span class="text-primary add-album-refrence" style="cursor:pointer;">Add Album</span></li>
          <li>Search for the album you would like to add</li>
          <li>Click on an album card to add the album to this list</li>
        </small></ol>

        <small style="line-height:1em;"><strong>To remove an album from this list:</strong></small><br/>
        <ol class="mb-2 pl-4"><small>
          <li>Exit this information modal</li>
          <li>Click the 'X' in the upper-right corner of the album cover for the album you want to remove</li>
          <li>Click <span class="font-italic">Ok</span> on the confirmation alert to finish removing the album</li>
        </small></ol>

        <div class="list-only">
          <small style="line-height:1em;"><strong>To edit the list title or display name for this list:</strong></small><br/>
          <ol class="mb-1 pl-4"><small>
            <li>Click <span class="text-primary edit-list-refrence" style="cursor:pointer;">Edit List</span></li>
            <li>Change the text in the <span class="font-italic">List title</span> or <span class="font-italic">Display name</span> fields</li>
            <li>Click the corresponding <span class="font-italic">Update</span> button to the right of the field you want to update</li>
            <li>Exit the <span class="font-italic">Edit List</span> modal when you are finished</li>
          </small></ol>
        </div>

        <small style="line-height:1em;"><strong>To filter this list:</strong></small><br/>
        <ol class="mb-1 pl-4"><small>
          <li>Click one of the filter drop-downs in the upper-right corner of the page</span></li>
          <li>Click a filter in the drop-down to toggle it on and off</li>
          <li>Click the <span class="font-italic">Clear Filters</span> button to reset all filters</li>
          <li>Note: When you share a page, any selected filters are included in the URL</li>
        </small></ol>
      </div>
    </div>
  </div>
</div>