<div class="modal fade" id="pageInfoModal" tabindex="-1" role="dialog" aria-labelledby="pageInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pageInfoModalLabel">How to use this page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="page-info-modal-body" class="modal-body text-secondary pt-2">

        <small style="line-height:1em;"><strong>To add an album to your favorites:</strong></small><br/>
        <ol class="mb-2 pl-4"><small>
          <li>Click the <span class="text-primary add-album-instruction-link">Add Album</span> button on the top toolbar of the my favorites page</li>
          <li>Search for an album by album title or artist name
          <li>Scroll through the results and click an album card to add it to your favorites</li>
        </small></ol>

        <small style="line-height:1em;"><strong>To remove an album from your favorites:</strong></small><br/>
        <ol class="mb-2 pl-4"><small>
          <li>Exit the instruction modal you are currently in</li>
          <li>On the my favorites page, click the 'X' in the upper-right corner of the album you would like to remove</li>
          <li>Confirm you would like to remove the album from your favorites in the prompt</li>
        </small></ol>
      </div>
    </div>
  </div>
</div>